# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# IDE / Editor configs
.vscode/
.idea/
*.iml

# Environment & secrets
.env
.env.local
.env.*.local

# MacOS / Windows noise
.DS_S_
